<% content_for :page_title do %>
  <%= Spree.t(:shopify_importer) %>
<% end %>

<strong>Authenticated to:</strong> <%= SpreeShopifyImporter::Config[:shopify_domain] %>

<%= link_to 'Delete token', "/admin/shopify-importer", method: :delete, data: { confirm: 'Are you sure?' } %>

<div class="row">
  <%= form_tag '/admin/shopify-importer/import', method: :post do %>
    <div class="col-xs-6 col-md-2">
      <div class="form-actions">
        <%= button_tag 'Start Import', class: 'btn btn-success', data: { disable_with: "#{ Spree.t(:loading) }..." } %>
      </div>
    </div>
  <% end %>

  <%= form_tag '/admin/shopify-importer/import', method: :delete do %>
    <div class="col-xs-6 col-md-2">
      <div class="form-actions">
        <%= button_tag 'Wipe database', class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>
